<div class="about-show">
<h1 class="page-header">About Us</h1>
<p>Welcome to Jungle! At our online plant shop, we only sell the highest quality plants and flowers.<p>
<p>We source our products from reputable growers and nurseries, so you can be sure you're getting a healthy, beautiful plant.</p> 
<p>Plus, ordering is quick and easy! We offer <b>free shipping on all orders over $50</b>, so it's easy to get the plants you want without breaking the bank.</p>
<p>Thank you for visiting our store!</p>
</div>
